/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/js
/laradock
.idea
/Modules/Owner/node_modules
/Modules/Admin/node_modules
public/mix-manifest.json
/public/images

.gitkeep
/Modules/Owner/vendor
/Modules/Admin/vendor
/Modules/Api/vendor
/.cache
