.content {
    margin-top: 40px;
}
.required {
    color: red;
}

.btn {
    min-width: 120px;
    border: 1px solid black;
    margin-right: 30px;
    margin-top: 10px;
}

.note {
    margin-left: 20px;
}
