@media only screen and (max-width: 992px) {
    #btn-cancel {
        width: 40% !important;
    }

    #showConfirm {
        width: 40% !important;
    }

    .text-bottom {
        width: 95% !important;
    }
}
